

@font-face {
    font-family: "comics";
    src: url("font/Ldfcomicsansbold-zgma.ttf");
  }
@import url(https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic);








body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #1ba11a url("tile.png") top left repeat;

}
h1{
    color: white;
    font-size: 115px;
    
}

.yellow{
    color:yellow;
    font-size: 50px;
    font-family: comics;
}

#WHALTA{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#JESSE{
    width: 402px;
    
}

#WHALTAjr{
    width: 362px;
    
}

#Happyfamily img{
    margin:30px;
}

.tekst1, #tekst2, .tekst3 {
    width: 60%;
}
.tekst1{
    color:yellow;
    font-size: 30px;
    font-family: comics;
}
#tekst2{
    color: yellow;
    font-size: 27px;
    font-family: comics;
}

.tekst3{
    color: white;
    font-size: 30px;
    font-family: comics;
   
}    

.button {
	box-shadow: 0px 0px 0px 10px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.button:active {
	position:relative;
	top:1px;
}

        